<div class="recipeform">
<h1>Create A Recipe</h1>
<% if @recipe.errors.any? %>
<ul>
  <% @recipe.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <% end %>
<%= render partial: "form", locals: {recipe: @recipe} %>
</div>