<h3>Or sign in with Google or Facebook:</h3>
<div class="imagesicons">
<%= link_to image_tag("googleicon.png", {:style => "width:4%;"}), '/auth/google_oauth2' %>
<%= link_to image_tag("fbicon.png", {:style => "width:4%;"}), '/auth/facebook' %>
</div>