<div id="user-show"><h1><%= image_tag("pawprint.png", {:style => "width:4%;"}) %> Welcome <%= @user.name.capitalize %> <%= image_tag("pawprint.png", {:style => "width:4%;"}) %></h1>
<h3>Pets:</h3>
<h3>Recipes:</h3>
</div>