<div id="welcome">
<div id="wc">
<div><%= image_tag("dogcupcake.jpg") %></div>
<div id="welcomebone"><h1>Welcome to Bone-Appetit</h1></div>
<div id="info"><h3>A place to share the love of your pets by sharing delicious home made treats made by you for them. </h3></div>
</div>
</div>

