<div id="welcome"><h1>Welcome to Bone-Appetit</h1>
<div id="imghome"><%= image_tag("dogcupcake.jpg") %></div>
<div id="info"><h3>A place to share the love of your pets by sharing delicious home made treats made by you for them. </h3></div>
</div>
