// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// 
#user-show h1{
text-align: center;
}
#user-show {
    z-index: 2;
    position: relative;
}
.userform h3 {
    z-index: 2;
    position: relative;
    padding-top: 5%;
    padding-left: 1%;
    margin-bottom: 0;

}

form{
    padding-left: 1%;
}

.button{
    background-color: azure;
    width: 100px;
    height: 30px;
    
    /*add any other properties you want to style*/
  }
  .field_with_errors {
      background-color: rgb(208, 238, 242);
      width: 50%;
  }