// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
    z-index: 2;
    position: relative;
    list-style: none;
}
ul li a{
text-decoration: none;
}