// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#welcome ul {
    z-index: 2;
    position: relative;
    list-style: none;
}
#welcome ul li a{
text-decoration: none;
background-color:rgb(218, 204, 160);
}
#welcome h1{
    color: white;
    margin-left:5%;
    z-index: 2;
    position: relative;
    text-shadow: 2px 2px 4px #000000;
}
#welcome h3 {
text-align: center;
margin-top: 4%;
color: rgb(53, 53, 53);
}

#info {
background-color: rgb(174, 253, 234); 
 margin-left:20%;
margin-right:20%;
z-index: 2;
position: relative;
box-shadow: 10px 10px 5px grey;


}

#welcome img {
    z-index: 2;
    position: relative;
    width: 100%;
  height: auto;
  border:#FCD28D 4px solid;
  box-shadow: 10px 10px 5px grey;
}
#imghome {
    width:60%;
    margin:0 auto;

}

